/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material.css
 *= require alertify.css
 *= require themes/semantic.css
 */

.active{
    background-color: black !important;
    color: white !important;
    text-align: right !important;
}

.actions{
    margin-top: 30px;
    text-align: center;
}
.ajs-content{
    align-content: center;
    align-items: center;
    text-align: center;
}
.boxLogin{
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border-right: none !important;
    box-shadow: 3px 3px 10px #212121 !important;
    color: black;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.btnAdd {
    bottom: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #FFF;
    font-size: 14px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: absolute;
    outline: none;
    right: 0;
}
.button-plus {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contentInfoAccount{
    text-align: center !important;
}

.contentImgUpload{
    margin-bottom: 15px;
}

.contentImgUpload > img{
    border-radius: 100%;
    border: #96aeda solid 5px;
    box-sizing: border-box;
    display: block;
    height: 112px;
    text-align: center;
    margin: auto;
    width: 112px;
}

.contentUpload > input[type=file]{
    background:#d1e1ff;
    padding:10px;
}

.contentUpload{
    margin-bottom: 20px;
}
.divContainerFile{
    cursor: pointer;
}
.div-welcome > h1, h3, h4, h6 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #2E2F30;
}

.div-welcome-conteiner{
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.elementHide{
    display: none;
}
.h3-title-login{
    margin: 0px;
    text-shadow: 2px 2px black;
}
h6.nameFile{
    color: black;
    margin: 0px;
    text-align: center;
    text-shadow: none;
}
.imgLogo{
    max-width: 100%;
}
.imgFile{
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    margin: auto;
    text-align: center;
    width: 75px;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.input__row .uploader{
    align-items: center;
    align-content: center;
    margin: auto;
    text-align: center;
}

.imgPerfil{
    align-items: center;
    border-radius: 150px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 126px;
    margin: auto;
    text-align: center;
    width: 126px;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.layout-background {
    background: url('backgroud.png') center / cover;
}

.layout-background .mdl-layout__header, .layout-background .mdl-navigation__link {
    color: white !important;
}

.mdl-button{
    color: black !important;
}

.mdl-layout-title > a{
    color: white;
    text-decoration:none;
}

.menuItemLink {
    color: black;
    text-decoration:none;
    display: block;
}

.page-content{
    margin: auto !important;
}

.sidebar{
    border-right: none !important;
    box-shadow: .01px 0px 7px #212121 !important;
}

.txtFieldForm{
    display: block;
    margin: auto;
}

.txtFieldForm{
    display: block;
    margin: auto;
}

.upload {
    display: none;
}

.uploader {
    display: flex;
    height: 35px;
    margin: auto;
    position: relative;
}

.uploader label {
    background: #00bcd4 url('https://www.shareicon.net/data/128x128/2015/09/21/104434_cloud_52x52.png') no-repeat center;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    margin: auto;
    text-align: center !important;
    padding: 5px;
    right: 0;
    width: 20%;
}

.uploader .input-value{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    width: 250px;
}

/* ORDENAR */
.uploaderFile label {
    cursor: pointer;
    margin: auto;
    text-align: center !important;
    padding: 5px;
    width: 20%;
    height: 100%;
    right: 0;
    border-radius: 10px;
    background: #adafb0 url('https://www.shareicon.net/data/128x128/2015/09/21/104434_cloud_52x52.png') no-repeat center;
}
.uploaderFile {
    margin: auto;
    position: relative;
    height: 35px;
    display: flex;
}
.uploaderFile .input-value{
    width: 250px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 16px;
}
.input__row .uploaderFile{
    margin: auto;
    align-items: center;
    text-align: center;
    align-content: center;
}
.divContainerAccount{
    border: .5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
.titleFile{
    color: black;
    text-shadow: none;
}
h3.titlePages{
    color: black;
    text-shadow: none;
}
.viewerDocxs{
    border-style: solid;
    border-color: #2E2F30;
    border-bottom-width: 12.5px;
    border-top-width: 12.5px;
    border-left-width: 55px;
    border-right-width: 55px;
    padding: 15px;
}
.first{
    border-top-width: 25px;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.messages-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
}

.message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
}
h4.navChat{
    text-shadow: none;
}
.navChat:hover{
    background-color: transparent !important;
}
.hrNoMargin{
    margin: 0px;
}
.contacts{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D9EDF7;
    text-align: center;
    padding: 7px;
    border-radius: 20px;
}
.form-control{
    display: block;
}
.new_message{
    align-content: center;
    align-items: center;
    text-align: center;
}
.divChatInput{
    padding-bottom: 10px !important;
}
.panel-heading{
    cursor: pointer;
}
.chatContainer{
    padding-left: 5px;
    padding-right: 5px;
}
.hrChat{
    margin-top: 10px !important;
}
.material-icons{
    color: white;
}
.txtAreaChat{
    background-color: white !important;
    width: 100%;
    padding-right: 5px;
}
.toggle-window{
    background-color: #2E2F30;
    color: white;
}
label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }
